@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-gray-900 text-white m-0 p-0 overflow-hidden;
  /* This is critical for the custom cursor to work as intended */
  cursor: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure the root element takes up the full viewport */
#root, .App {
    width: 100vw;
    height: 100vh;
}
